body {
    font-family: Inter; /* keluarga font */
    font-size: 11px; /* Ukuran font utama pada tag <p></p> */
    background-color: #5988FF; /* Warna latar belakang laman web */
    color: #FFFFFF; /* Warna teks */ 
}
h1 {
    color: #D6FF6B; /* Warna tajuk (header)*/
    font-size: 24px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}
h2 {
    color: #FD98FB; /* Warna tajuk (header)*/
    font-size: 24px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}
@keyframes color-change {
    0% {
      color: rgb(53, 206, 53);
    }
  
    50% {
      color: rgb(200, 247, 31);
    }
  
    100% {
      color: rgb(53, 206, 53);
    }
}

h1:hover { animation: color-change 3s infinite; }